@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
--very-db-body: hsl(217, 54%, 11%);   
--very-db-card: hsl(216, 50%, 16%);   
--very-db-line: hsl(215, 32%, 27%);    
--white: hsl(0, 0%, 100%);
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--very-db-body);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Outfit', sans-serif;
}

main {
    max-width: 355px;
    max-height: 600px;
}

.container {
    max-width: 100%;
    max-height: 100%;
    background-color: var(--very-db-card);
    padding: 24px 24px 28px 24px;
    border-radius: 15px;
}

.container__img {
    max-width: 304px;
    max-height: 304px;
    margin: 0 auto;
}

.equilibrium__img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 1.125rem;
    color: var(--white);
    margin-top: 30px;
    text-align: left;
    font-weight: 400;
}

.description {
    font-size: .9375rem;
    color: var(--soft-blue);
    text-align: left;
    margin-top: 24px;
}


.container__items {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.container__item1, 
.container__item2 {
    display: flex;
    justify-content: space-between;
    width: 90px;
    font-size: .9375rem;
}

.container__item1 {
    color: var(--cyan);
}

.container__item2 {
    color: var(--soft-blue);
}

hr {
    border-color: var(--soft-blue);
    margin-top: 24px;
}

