@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
--very-db-body: hsl(217, 54%, 11%);   
--very-db-card: hsl(216, 50%, 16%);   
--very-db-line: hsl(215, 32%, 27%);    
--white: hsl(0, 0%, 100%);
}

body, html {
    min-height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--very-db-body);
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    font-family: 'Outfit', sans-serif;
}

main {
 width: 100vw;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.container {
    max-width: 350px;
    min-width: 200px;
    background-color: var(--very-db-card);
    box-shadow: 5px 5px 20px 1px #081122;
    padding: 24px 24px 28px 24px;
    border-radius: 15px;
    margin: 30px;
}

.container__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 302px;
    max-height: 302px;
    margin: 0 auto;
    position: relative;
}

.box__view {
    width: 100%;
    height: 100%;
    background-color: var(--cyan);
    border-radius: 15px;
    opacity: .5;
    position: absolute;
    visibility: hidden;
}

.icon__view {
    position: absolute;
    visibility: hidden;
}

.container__img:hover > .box__view {
  visibility: visible;
  cursor: pointer;
} 

.container__img:hover > .icon__view {
    visibility: visible;
    cursor: pointer;
} 

.equilibrium__img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 1.375rem;
    color: var(--white);
    padding-top: 26px;
    text-align: left;
    font-weight: 400;
}

h1:hover {
    color: var(--cyan);
    cursor: pointer;
}

.description {
    font-size: 1.125rem;
    font-weight: 300;
    color: var(--soft-blue);
    text-align: left;
    padding-top: 20px;
}


.container__items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 23px;
    justify-content: space-between;
    align-items: center;
}

.container__item1 {
    color: var(--cyan);
    display: flex;
    align-content: center;
}

.icon__ethereum-c {
    padding-right: 8px;
    display: flex;
    align-items: center;
}

.container__item2 {
    color: var(--soft-blue);
    display: flex;
    align-items: center;
}

.icon__clock-c {
    padding-right: 8px;
    display: flex;
    align-items: center;
}

.container__item1, 
.container__item2 {
    display: flex;
    min-width: 113px;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 5px;
}


hr {
    border-color: var(--soft-blue);
    margin-top: 13px;
}

.container__profile {
    padding-top: 13px;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 400;
}

.img-c {
    padding: 0 15px 0 0;
}

.img__border {
    width: 37px;
    height: 37px;
    background-color: var(--white);
    border-radius: 50%;
    padding-right: 15px;
    position: relative;
}

.img__border img {
    position: absolute;
    right: 1px;
    bottom: 1px;
}


.container__p {
   color: var(--soft-blue);
   display: flex;
   flex-wrap: wrap;
}

.container__profile span {
    color: var(--white);
 }

 .container__profile span:hover {
    color: var(--cyan);
    cursor: pointer;
 }



 @media (max-width:400px) {


    .container {
        max-width: 328px;
        min-width: 200px;
        padding: 24px 24px 23px 24px;
        margin: 24px;
    }

    .container__img {
        max-width: 278px;
        max-height: 278px;
    }

    .description {
        padding-top: 16px;
    }

    .container__items {
        padding-top: 12px;
    }

    hr {
        border-color: var(--soft-blue);
        margin-top: 7px;
    }


    .container__profile {
        padding-top: 12px;
    }

 }